.container {
    text-align: center;
    margin-top: 30px; 
}
.alert{
    text-align: center;
}
.downBtn{
border: none;
background-color: transparent;
color:white;
border: 1px solid gray;
}
.delBtn{
border:none;
background-color: transparent;
color:white;
border: 1px solid gray;
}
.delBtn:hover{
    color:#f02c35 ;
    border-color: #f02c35;
}
.downBtn:hover{
    color:lime;
    border-color: lime;
}
.img{
    height: 150px;
    width: 150px;
    border-radius:3px; 
}
.img:hover{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.cnt-block{
     border: 0.5px solid blueviolet;
}
.cnt-block h5{
    color: azure;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
    background-color: #403e44;
}
.fig{
    margin-top: 10px;
}
small{
    color:whitesmoke;
}
span{
    color:white;
}
.show-info-div{
    background-color: #403e44;
    border-bottom: 1px solid gray;
    padding: 10px 10px 10px 10px;
}
.interact-btns-div{
    background-color: #403e44;
    padding: 10px 10px 10px 10px;
}