body{
    background: url('../page_images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
}

hr{
    border-color: gray;
}

.header-container{
    background-color: black;
    opacity: 0.8;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.header-container h3{
    color: #fff;
}
.call-to-div{
    text-align: center;
    opacity: 1;
}

.top-section{
    background-color: #343434;
    opacity: 0.95;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid darkslategrey;
    border-radius: 5px;
    text-align: justify;
}

.top-section a{
    color: #fff;
    padding: 5px;
}

.top-section a:hover{
    color: yellow;
    text-decoration: none;
}

.top-section .latest-torrents{

    color: #fff;
    border-left:  4px solid yellow;;
    padding: 5px;
    background-color:  #141414;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.row .bottom-section{
    justify-content: center;
    text-align: center;
}

.top-section .top-uploaders{

    color: #fff;
    border-left:  4px solid rgb(0, 60, 255);;
    padding: 5px;
    background-color:  #141414;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.yellow-tag{
    font-weight: bold; 
    background: yellow; 
    color: black; 
    padding: 5px; 
    border-radius: 5px;
}

.aqua-tag{
    font-weight: bold; 
    background: aqua; 
    color: black; 
    padding: 3px;
    border-radius: 5px;
}