{% extends "base.html" %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}


{% block content %}
{%load static%}
<link rel="stylesheet" href="{% static '/pages-css/account-edit.css' %}">
<script type="text/javascript">
    $(document).ready(function () {
        var old_pass = document.getElementById("id_old_password");
        var new_pass_1 = document.getElementById("id_new_password1");
        var new_pass_2 = document.getElementById("id_new_password2");

        old_pass.placeholder = "Old password";
        new_pass_1.placeholder = "New password";
        new_pass_2.placeholder = "Confirm password";

        var pass_fields = [old_pass, new_pass_1, new_pass_2];

        pass_fields.forEach(element => {
        element.className = "form-control my-input";   
        });
        
    });
</script>
<div class="container">
    <div class="card">
        <h5 style="color: white;" class="card-header">
            Change password
        </h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{form.old_password}}
                </div>
                <div class="form-group">
                    {{form.new_password1}}
                </div>
                <div class="form-group">
                    {{form.new_password2}}
                </div>
                <hr style="border-color: ;"/>
                <button type="submit" class="btn btn-primary save-btn">Submit</button>
                {%if not errors == "" %}
                <div class="mt-2 error-alert alert alert-warning alert-dismissible fade show" role="alert">
                    {{errors}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%endif%}

                {%if not message_success == ""%}
                <div class="mt-2 error-alert alert alert-success alert-dismissible fade show" role="alert">
                    {{message_success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{%endblock%}