{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<title>Posts</title>
{% load static %}
<link rel="stylesheet" href="{% static '/pages-css/posts.css' %}">
{% if user.is_authenticated %}

<div class="container">
  <div class="row">
    {%for torrent in torrents %}
      <div class="cnt-block ml-2 col-md-4">
        <h5>{{ torrent.torrent_name }}</h5>
        <figure class="fig">
        
          <a href="{% url 'torrents_view' pk=torrent.pk  %}"> <img src="/{{ torrent.torrent_image }}" class="img"
              alt=""></a>
    
        </figure>
        <div class="show-info-div">
          <span>
            <small>likes</small>
            <small>{{torrent.likes}}</small>
          </span>
          <span class="ml-4">
            <small>unlikes</small>
            <small>{{torrent.unlikes}}</small>
          </span>
        </div>
        <div class="interact-btns-div">
          <a class="btn downBtn  btn-sm" href="{% url 'file_download_view' pk=torrent.pk%}">download</a>
          <a class="btn delBtn  btn-sm" href="{% url 'delete_torrent' pk=torrent.pk%}">delete</a>
        </div>
      </div>
    {% endfor %}
    </div>
  {% else %}
  <div class="alert alert-danger" role="alert">
    Please login to view your uploaded torrents
  </div>
</div> 
{% endif %}
{% endblock %}
