{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}

<script>

  // global var contains django var, accessible to every javascript file

  var user_id = {{ user.id }};
  var post_id = {{ selected_torrent.id }};

</script>

<!-- -------------------------------------------------------------------------------------------->
<div class="container">
  <div class="row torrent-info">
    <div class="col-md-12">
      <div class="header">
        <h6 class="header-text">{{name}}&nbsp&nbsp&nbsp
          <small>{{date}}</small>
          <strong style="color:#FFC11E;">{{total_size}}</strong>
        </h6>
      </div>
      <div class="torrent-container">
        <div class="torrent-thumbnail">
          <img class="torrent-img" src="/{{selected_torrent.torrent_image}}">
        </div>
      </div>
      <div class="torrent-meta-details">
        <small>Hash: <strong style="color:aqua;">{{info_hash}}</strong></small>
        <hr />
        {%if filename_size.items%}
        <small>{{name}}</small><br />
        {% for file,size in filename_size.items %}
        <small>File: <strong style="color: aqua;">{{file}}&nbsp&nbsp</strong></small>
        <small>size:</small>
        <small><strong style="color: #FFC11E;">( {{size}} ) </strong></small>
        <br />
        {%endfor%}
        {%endif%}
        {%if not filename_size.items%}
        <small>{{name}}</small><br />
        <small>File: <strong style="color: aqua;">{{name}}&nbsp&nbsp</strong></small>
        <small>size:</small>
        <small><strong style="color: #FFC11E;">( {{total_size}} ) </strong></small>
        {%endif%}
        <hr />
        <small>Date: <strong style="color: aqua">{{selected_torrent.date_of_c}}</strong></small><br />
        <small>Uploader: <strong style="color: aqua;">{{selected_torrent.uploader_name}}</strong></small>
        <hr />
        <div class="tracker-div" id="trackers">
          {% for tracker in announce_list %}
          <small>{{tracker.0}}</small>
          <br>
          {% endfor %}
        </div>
        <div style="text-align: center;">
          <button style="margin-top: 10px;" id="show-tracker-btn" class="btn btn-sm btn-secondary"
            onclick="show_trackers()">
            Show Trackers
          </button>
        </div>
      </div>

      <div class="interact-div">
        <span id="showLikes">{{selected_torrent.total_likes}}</span>
        <button type="button" id="likeBtn">
          {% if liked_status %}
          <i class="far fa-thumbs-up fa-lg" id="thumb_up" style="color:#0076F3"></i>
          {% else %}
          <i class="far fa-thumbs-up fa-lg" id="thumb_up" style="color:white;"></i>
          {%endif%}
        </button>
        <span class="ml-2" id="showUnLikes">{{selected_torrent.total_unlikes}}</span>
        <button type="button" id="unLikeBtn">
          {% if unliked_status %}
          <i class="far fa-thumbs-down fa-lg" id="thumb_down" style="color:#0076F3"></i>
          {% else %}
          <i class="far fa-thumbs-down fa-lg" id="thumb_down" style="color:white;"></i>
          {%endif%}
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="comment-div">
      <textarea oninput="comment_validation()" placeholder="Write your comments here..." id="comments"></textarea>
      <div>
        <button disabled id="comment-btn" class="btn btn-primary btn-sm mb-2 mt-2"
          onclick="post_comment()">
          <i class="fa fa-comments" aria-hidden="true"></i>
        </button>
        <a class="btn btn-sm btn-success" href="{% url 'file_download_view' pk=selected_torrent.pk%}">
          <i class="fa fa-file" aria-hidden="true"></i>  
        </a>
        <button id="like-list-btn" type="button" class="btn btn-sm btn-primary" data-toggle="modal"
          data-target="#exampleModal">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </button>
        <a class="btn btn-danger btn-sm" href="{{magnet_link}}">
          <i class="fas fa-magnet"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2" id="comments-display-area">
      <h6>Comments Section</h6>
      <hr />
      {%for comment in torrent_comments %}
      <div style="margin-bottom: -15px;">
        {% if comment.user_avatar == "" %}
        {% load static %}
        <img src="{% static '/user_images/default.png' %}" style="height: 30px; width: 30px; border-radius: 50%;">
        {% else %}
        <img src="/{{comment.user_avatar}}" style="height: 30px; width: 30px; border-radius: 50%;">
        {% endif %}
        <span class="ml-1" id="user-name">{{comment.user_name}}</span>
        <small class="ml-2" style="color:grey;">{{comment.created_at}}</small>
      </div>
      <small class="ml-3 comment-text">{{comment.comment|linebreaks}}</small>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
</div>

<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Likes and dislikes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">

        <div class="modal-body col-sm-5 ml-3" id="liked-by">
          <span style="color: yellow;">Likes</span>
          <li id="likes-list">

          </li>
        </div>
        <div class="modal-body col-5 ml-3" id="disliked-by">
          <span style="color: rgb(255, 11, 93);">Dislikes</span>
          <li id="dislikes-list">

          </li>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static '/pages-js/render_dislikes.js' %}"></script>
<script type="text/javascript" src="{% static '/pages-js/render_likes.js' %}"></script>
<script type="text/javascript" src="{% static '/pages-js/render_post_likes.js' %}"></script>
<script type="text/javascript" src="{% static '/pages-js/render_comments.js' %}"></script>



{% endblock %}