{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block content %}
<style>
  .post-img {
    height: 50px;
    width: 50px;
  }

  .table {
    font-size: 14px;
    text-align: center;
  }
</style>
<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Torrent</th>
        <th scope="col">Date</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in torrents.items %}
      <tr>
        <td> <a style="color: white;" href="{% url 'torrents_view' pk=value.pk  %}">{{key}}</a></td>
        <td>{{value.created_at}}</td>
        <td><a href="{% url 'file_download_view' pk=value.pk%}">
            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
          </a>
          &nbsp; &nbsp;
          <a href="#">
            <i class="fa fa-magnet fa-lg" aria-hidden="true"></i>
          </a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p id="res"></p>
{%endblock%}